@import "src/styles/mixins";

.rf-schedule-legend-item {
  @include text-s-14;
  margin-right: 24px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  color: var(--neutral-50);

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  &_default {
    &::before {
      background-color: var(--primary-40);
    }
  }

  &_red {
    &::before {
      background-color: var(--error-50);
    }
  }

  &_yellow {
    &::before {
      background-color: var(--attention-40);
    }
  }

  &_magenta {
    &::before {
      background-color: var(--magenta-40);
    }
  }
}